{% extends "layout.twig" %}

{% block title %}
Gruppenverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "group/head.twig" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<div id="message-board">
    {% if (session_has('error')) %}
        <div class="alert alert-error">{{ session_get('error') }}</div>
    {% elseif (session_has('success')) %}
        <div class="alert alert-success">{{ session_get('success') }}</div>
    {% endif %}
	</div>
	
	<a href="{{ url('admin/group') }}" class="btn">Zurück</a>
	
	<form class="group-create-form" action="{{ url('admin/group') }}" method="post">
		<div class="tabs" id="group-tabs">
			<ul>
				<li><a href="#group-info">Informationen</a></li>
				<li><a href="#group-permissions">Rechte</a></li>
			</ul>
			<div id="group-info" class="group-edit-content">
				<table class="group-table">
					<tbody>
						<tr>
							<th>Gruppenname:</th><td><input type="text" name="lastName" value="" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="group-permissions" class="group-edit-content">
				<p>Rechtesystem sucks</p>
			</div>
		</div>
		<input type="submit" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-all" />
	</form>
	
	<script>
	<!--
	
	$.fn.message = function(msg) {
		$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo(this).delay(1500).fadeOut(1000, function() { $(this).remove(); });
		return this;
	}
	
	$(function() {
		$('.tabs').tabs();
		
		$('.group-create-form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: $(this).serialize(),
				dataType: 'json'
			}).done(function(msg) {
				$('#message-board').message(msg);
				if(msg.success) {
					$('.group-create-form')[0].reset();
				}
			}).fail(function(o, s, msg) {
				$('<div class="alert alert-error">' + msg + '</div>').appendTo('#message-board').delay(1500).fadeOut(1000, function() { $(this).remove(); });
			});
			return false;
		});
	});
	
	//-->
	</script>
{% endblock %}