{% extends "layout.twig" %}

{% block title %}
Gruppenverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "group/head.twig" %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}

{% block content %}
	<div id="message-board">
    {% if (session_has('error')) %}
    <div class="alert alert-error">{{ session('error') }}</div>
    {% elseif (session_has('success')) %}
    <div class="alert alert-success">{{ session('success') }}</div>
    {% endif %}
	</div>
	
	<a class="btn" href="{{ url('admin/group/create') }}">Gruppe hinzufügen</a>
	
	<div class="tabs" id="user-tabs">
		<ul class="nav nav-tabs">
			<li><a href="{{ url('admin/user') }}">Informationen</a></li>
			<li class="active"><a href="{{ url('admin/group') }}">Gruppen</a></li>
			<li><a href="{{ url('admin/permissions') }}">Rechte</a></li>
		</ul>
		<div class="tab-content">
			<div id="groups" class="tab-pane active">
				<ul>
				{% for group in groups %}
					<li><a href="{{ url('admin/group/') }}/{{ group.id }}/edit">{{ group.name }}</a></li>
				{% endfor %}
					<li><a href="{{ url('admin/group/35674567845683456/edit') }}">Die Ich-Nicht-Gruppe</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<script>
	<!--
	
	$.fn.message = function(msg) {
		$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo(this).delay(1500).fadeOut(1000, function() { $(this).remove(); });
		return this;
	}
	
	$(function() {
		
	});
	
	//-->
	</script>
{% endblock %}