{% extends "admin/layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "admin/userhead.twig" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<style type="text/css">
	.ui-widget {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	.ui-widget-content {
		border: 1px solid #D4D4D4;
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background-color: #FAFAFA;
		background-image: linear-gradient(to bottom, #FAFAFA, #EDEDED);
	}
	.ui-widget-header {
		background-color: #FAFAFA;
		background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
		background-repeat: repeat-x;
		border: 1px solid #D4D4D4;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
	}
	.ui-tabs .ui-tabs-nav li a {
		padding: 4px 12px;
	}
	
	.user-table tbody th {
		font-weight: normal;
		text-align: right;
	}
	.user-edit-content {
		/*height: 150px;*/
	}
	.tabs {
		margin: 15px 0;
	}
	
	</style>
	
	<div id="message-board">
    {% if (session_has('error')) %}
        <div class="alert alert-error">{{ session_get('error') }}</div>
    {% elseif (session_has('success')) %}
        <div class="alert alert-success">{{ session_get('success') }}</div>
    {% endif %}
	</div>
	
	<a class="btn" href="{{ url('admin/user') }}">Zurück</a>
	<a class="btn user-delete" href="{{ url('admin/user') }}/{{ user.id }}">Löschen</a>
	
	<form id="user-edit-form" action="{{ url('admin/user') }}/{{ user.id }}" method="post">
		<div class="tabs" id="user-tabs">
			<ul>
				<li><a href="#user-info">Informationen</a></li>
				<li><a href="#user-groups">Gruppen</a></li>
				<li><a href="#user-permissions">Rechte</a></li>
			</ul>
			<div id="user-info" class="user-edit-content">
				<table class="user-table">
					<tbody>
						<tr>
							<th>Name:</th><td><input type="text" name="lastName" value="{{ user.lastName }}" /></td>
						</tr>
						<tr>
							<th>Vorname:</th><td><input type="text" name="firstName" value="{{ user.firstName }}" /></td>
						</tr>
						<tr>
							<th>E-Mail:</th><td><input type="text" name="email" value="{{ user.email }}" /></td>
						</tr>
						<tr>
							<th>Aktiv:</th><td><input type="checkbox" name="activated" value="1" {% if user.activated %}checked="checked"{% endif %} /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="user-groups" class="user-edit-content">
				Gruppen...<br />
				<table>
	{% for group in groups %}
					<tr>
						<td>{{ group.name }}</td><td>{{ user.inGroup(group) ? 'entfernen' : '<a href="#">hinzufügen</a>' }}</td>
					</tr>
	{% endfor %}
				</table>
			</div>
			<div id="user-permissions" class="user-edit-content">
	{% for title, permission in user.getPermissions() %}
			{{ title }}: {{ permission }}<br />
	{% endfor %}
			</div>
		</div>
		<input type="submit" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-all" />
	</form>
	
	<script>
	<!--
	
	$(function() {
		$('.btn.user-delete').click(function() {
			$.ajax($(this).attr('href'), {
				type: 'delete'
			}).done(function(msg) { alert("success: " + msg); })
			  .fail(function() { alert("error"); });
			return false;
		});
		
		$('form#user-edit-form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'PUT',
				data: $(this).serialize(),
				dataType: 'json'
			}).done(function(msg) {
				$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo('#message-board').delay(1500).fadeOut(1000, function() { $(this).remove(); });
			}).fail(function(o, s, msg) {
				$('<div class="alert alert-error">' + msg + '</div>').appendTo('#message-board').delay(1500).fadeOut(1000, function() { $(this).remove(); });
			});
			return false;
		});
		
		$('.tabs').tabs({
			beforeLoad: function( event, ui ) {
				ui.jqXHR.error(function() {
					ui.panel.html("Couldn't load this tab. We'll try to fix this as soon as possible.");
				});
			}
		});
	});
	
	//-->
	</script>
{% endblock %}