<!doctype html>
<html lang="de">
<head>
    {% block head %}
        <title>cmex!-Administration - {% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
    	<link href="{{ asset('admin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('admin/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
        <script src="{{ asset('admin/frontend/dependencies/jquery-1.9.1.min.js') }}"></script>
    	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script src="{{ asset('admin/bootstrap/js/bootstrap.min.js') }}"></script>
    	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    	<!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" type="text/css" />-->
        <style>
            .notification {
                border-bottom: 1px solid #e5e5e5;
                margin-bottom: 5px;
            }

            .notification_title {
                font-size: 92%;
                font-weight: 500;
            }

            .notification_content {
                font-size: 90%;
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="navbar">
    <div class="navbar-inner navbar-static-top">
        <a class="brand" href="{{ url('admin/dashboard') }}">cmex!</a>
        <ul class="nav">
            <li><a href="{{ url('admin/dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url('/') }}">Frontend</a></li>
            <li><a href="{{ url('admin/user') }}">Benutzer</a></li>
            <li><a href="#">Chunks</a></li>
            <li><a href="{{ url('admin/media') }}">Medien</a></li>
            <li><a href="#">Einstellungen</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Module
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                {% for module in cmexmodules %}
                  <li><a href='{{ url('admin' ~ '/' ~ module.name|lower) }}'>{{ module.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
        </ul>
        <ul class="nav pull-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ authentication_getuser().email }} <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Kontoeinstellungen</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url('login/logout') }}">Abmelden</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        
        {% block primarycolumn %}
        <div class="span9">
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block secondarycolumn %}
        <div class="span3">
            {% block sidebar %}
                <h2>Options</h2>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
</body>
</html>