{% extends "layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "userhead.twig" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<div id="message-board">
    {% if (session_has('error')) %}
        <div class="alert alert-error">{{ session_get('error') }}</div>
    {% elseif (session_has('success')) %}
        <div class="alert alert-success">{{ session_get('success') }}</div>
    {% endif %}
	</div>
	
	<div id="delete-confirm" title="Benutzer löschen?">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Löööööööööööschen!!!</p>
	</div>
	
	<a class="btn" href="{{ url('admin/user') }}">Zurück</a>
	<a class="btn user-delete" href="{{ url('admin/user') }}/{{ user.id }}"><i class="icon-trash"></i> Löschen</a>
	
	<form id="user-edit-form" action="{{ url('admin/user') }}/{{ user.id }}" method="post">
		<div class="tabs" id="user-tabs">
			<ul>
				<li><a href="#user-info">Informationen</a></li>
				<li><a href="#user-groups">Gruppen</a></li>
				<li><a href="#user-permissions">Rechte</a></li>
			</ul>
			<div id="user-info" class="user-edit-content">
				<table class="user-table">
					<tbody>
						<tr>
							<th>Name:</th><td><input type="text" name="lastName" value="{{ user.lastName }}" /></td>
						</tr>
						<tr>
							<th>Vorname:</th><td><input type="text" name="firstName" value="{{ user.firstName }}" /></td>
						</tr>
						<tr>
							<th>E-Mail:</th><td><input type="text" name="email" value="{{ user.email }}" /></td>
						</tr>
						<tr>
							<th>Passwort:</th><td><input type="password" name="password" value="" /></td>
						</tr>
						<tr>
							<th>Erneut:</th><td><input type="password" name="password_confirm" value="" /></td>
						</tr>
						<tr>
							<th>Aktiv:</th><td><input type="checkbox" name="activated" value="1" {% if user.activated %}checked="checked"{% endif %} /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="user-groups" class="user-edit-content">
				Gruppen...<br />
				<table>
	{% for group in groups %}
					<tr>
						<td>{{ group.name }}</td><td>{{ user.inGroup(group) ? 'entfernen' : '<a href="#">hinzufügen</a>' }}</td>
					</tr>
	{% endfor %}
				</table>
			</div>
			<div id="user-permissions" class="user-edit-content">
	{% for title, permission in user.getPermissions() %}
			{{ title }}: {{ permission }}<br />
	{% endfor %}
			</div>
		</div>
		<input type="submit" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-all" />
	</form>
	
	<script>
	<!--
	
	$.fn.message = function(msg) {
		$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo(this).delay(1500).fadeOut(1000, function() { $(this).remove(); });
		return this;
	}
	
	$(function() {
		$('.tabs').tabs();
		
		$( "#delete-confirm" ).dialog({
			autoOpen: false,
			resizable: false,
			height: 140,
			modal: true,
			buttons: {
				"Delete user": function() {
					/*$.ajax($(this).attr('href'), {
						type: 'delete'
					}).done(function(msg) {
						location.href = "{{ url('admin/user') }}";
					}).fail(function(o, s, msg) {
						$('#message-board').message(msg);
					});*/
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
		
		$('.btn.user-delete').click(function() {
			$( "#delete-confirm" ).dialog( "open" );
			
			return false;
		});
		
		$('form#user-edit-form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'PUT',
				data: $(this).serialize(),
				dataType: 'json'
			}).done(function(msg) {
				$('#message-board').message(msg);
			}).fail(function(o, s, msg) {
				$('#message-board').message(msg);
			});
			return false;
		});
	});
	
	//-->
	</script>
{% endblock %}