<!doctype html>
<html lang="de">
	<head>
		<title>Error 404 - Page not found</title>
		<meta charset="utf-8">
		<!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="{{ asset("templates/default/css/bootstrap.min.css") }}" />
        <link rel="stylesheet" href="{{ asset("templates/default/css/bootstrap-responsive.min.css") }}" />
		<link rel="stylesheet" href="{{ asset("templates/default/css/style.css") }}" />
		<script src="http://use.edgefonts.net/lobster-two.js"></script>
    	<script src="http://use.edgefonts.net/open-sans.js"></script>
	</head>
	<body>
		<div class="top">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h1>cmex!</h1>
                </div>
            </div>
        </div>
    	</div>
		<div class="center">
            <div class="hero-unit">
                <div class="container">
                        <h1>Error 404 :(</h1>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <p>Die von Ihnen angeforderte Seite wurde leider nicht gefunden. Das tut uns wirklich sehr leid!</p>
                        <p>Sollten Sie von einer anderen Seite hierhergekommen sein bzw. sind sich sicher, dass die von Ihnen gesuchte Seite existieren muss, so kontaktieren Sie bitte den Administrator der Seite!</p>
                        <p><a style="font-size: 150%;" href="{{path()}}">&larr; Zurück zur Startseite</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="footer span12">
                        <p class="muted">&copy; 2012 - {{ "now"|date("Y") }} cmex! - Team</p>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>