{% extends "layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "user/head.twig" %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
	...<br />
    <a href="#admin/filter" class="btn">Filter anwenden</a>
	
	<a href="#admin/mail" class="btn">Mail service</a>
{% endblock %}

{% block content %}
	<div id="message-board">
    {% if (session_has('error')) %}
    <div class="alert alert-error">{{ session('error') }}</div>
    {% elseif (session_has('success')) %}
    <div class="alert alert-success">{{ session('success') }}</div>
    {% endif %}
	</div>
	
	<a class="btn" href="{{ url('admin/user/create') }}">Benutzer hinzufügen</a>
	<a class="btn" href="{{ url('admin/group/create') }}">Gruppe hinzufügen</a>
	
	<div class="tabs" id="user-tabs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#users">Informationen</a></li>
			<li><a href="#groups">Gruppen</a></li>
			<li><a href="#permissions">Rechte</a></li>
		</ul>
		<div class="tab-content">
			<div id="users" class="tab-pane active">
				<ul>
				{% for user in users %}
					<li><a href="{{ url('admin/user/') }}/{{ user.id }}/edit">{{ user.lastName }} {{ user.firstName }} {{ user.email }}</a></li>
				{% endfor %}
					<li><a href="{{ url('admin/user/35674567845683456/edit') }}">Der Ich-Nicht</a></li>
				</ul>
			</div>
			
			<div id="groups" class="tab-pane">
				Gruppenverwaltung
			</div>
			
			<div id="permissions" class="tab-pane">
				Rechteverwaltung
			</div>
		</div>
	</div>
	
	
	<script>
	<!--
	
	$.fn.message = function(msg) {
		$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo(this).delay(1500).fadeOut(1000, function() { $(this).remove(); });
		return this;
	}
	
	$(function() {
		
		$('.tabs .nav a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
	});
	
	//-->
	</script>
{% endblock %}