<!doctype html>
<html>
    <head>
        <title>cmex! &mdash; Login</title>
        <meta charset="utf-8" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 20px;
        margin: 0 auto 5px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    </head>
    <body>
            <div class="container">

      <form action="{{ url('doNewpw') }}/{{ id }}?code={{ code }}" class="form-signin" method="post">
        <h2 class="form-signin-heading">Bitte neues Passwort angeben!</h2>
        {% if (session_has('error')) %}
        <div class="alert alert-error">{{ session('error') }}</div>
        {% elseif (session_has('success')) %}
        <div class="alert alert-success">{{ session('success') }}</div>
        {% endif %}
		
        <input type="text" name="newpassword" class="input-block-level" placeholder="Neues Passwort">
        <input type="text" name="newpassword_confirm" class="input-block-level" placeholder="Neues Passwort bestätigen">
        <button class="btn btn-large btn-primary" type="submit">Passwort zurücksetzen</button>
      </form>
    </div>
    </body>
</html>