{% extends "layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "user/head.twig" %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block content %}
	<div id="message-board">
    {% if (session_has('error')) %}
        <div class="alert alert-error">{{ session_get('error') }}</div>
    {% elseif (session_has('success')) %}
        <div class="alert alert-success">{{ session_get('success') }}</div>
    {% endif %}
	</div>
	
	<a href="{{ url('admin/user') }}" class="btn">Zurück</a>
	
	<form class="user-create-form" action="{{ url('admin/user') }}" method="post">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#user-info">Informationen</a></li>
			<li><a href="#user-groups">Gruppen</a></li>
			<li><a href="#user-permissions">Rechte</a></li>
		</ul>
		<div class="tab-content">
			<div id="user-info" class="tab-pane active">
				<table class="user-table">
					<tbody>
						<tr>
							<th>Name:</th><td><input type="text" name="last_name" value="" /></td>
						</tr>
						<tr>
							<th>Vorname:</th><td><input type="text" name="first_name" value="" /></td>
						</tr>
						<tr>
							<th>E-Mail:</th><td><input type="text" name="email" value="" /></td>
						</tr>
						<tr>
							<th>Passwort:</th><td><input type="password" name="password" value="" /></td>
						</tr>
						<tr>
							<th>Erneut:</th><td><input type="password" name="password_confirm" value="" /></td>
						</tr>
						<tr>
							<th>Aktiv:</th><td><input type="checkbox" name="activated" value="1" /></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="user-groups" class="tab-pane">
				<table class="user-table">
					<tbody>
{% for group in groups %}
						<tr>
							<th><label for="group_{{ group.id }}">{{ group.name }}</label></th>
							<td><input id="group_{{ group.id }}" type="checkbox" name="groups[]" value="{{ group.id }}" /></td>
						</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="user-permissions" class="tab-pane">
				<p>Rechtesystem sucks</p>
			</div>
		</div>
		<input type="submit" class="btn" />
	</form>
	
	<script>
	<!--
	
	$.fn.message = function(msg) {
		$('<div class="alert alert-' + (msg.success ? 'success' : 'error') + '">' + (msg.message) + '</div>').appendTo(this).delay(1500).fadeOut(1000, function() { $(this).remove(); });
		return this;
	}
	
	$(function() {
		
		$('.nav a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		$('.user-create-form').submit(function() {
			$.ajax({
				url: $(this).attr('action'),
				type: 'post',
				data: $(this).serialize(),
				dataType: 'json'
			}).done(function(msg) {
				$('#message-board').message(msg);
				if(msg.success) {
					$('.user-create-form')[0].reset();
				}
			}).fail(function(o, s, msg) {
				$('<div class="alert alert-error">' + msg + '</div>').appendTo('#message-board').delay(1500).fadeOut(1000, function() { $(this).remove(); });
			});
			return false;
		});
	});
	
	//-->
	</script>
{% endblock %}