{% extends "layout.twig" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block head %}
{{ parent() }}
{% include "userhead.twig" %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
	...<br />
    <a href="#" class="btn">Filter anwenden</a>
{% endblock %}

{% block content %}
    {% if (session_has('error')) %}
    <div class="alert alert-error">{{ session('error') }}</div>
    {% elseif (session_has('success')) %}
    <div class="alert alert-success">{{ session('success') }}</div>
    {% endif %}
	
	<a class="btn" href="{{ url('admin/user/create') }}">Benutzer hinzufügen</a>
	<ul>
	{% for user in users %}
		<li><a href="{{ url('admin/user/') }}/{{ user.id }}/edit">{{ user.lastName }} {{ user.firstName }} {{ user.email }}</a></li>
	{% endfor %}
		<li><a href="{{ url('admin/user/35674567845683456/edit') }}">Der Ich-Nicht</a></li>
	</ul>
{% endblock %}